.img_logo{
    height: 30px;
}



 .nav-link{
    margin-left: 20px;
    font-size: 20px;
    
} 



.text-right .btn_color{
    border-radius: 40px;
    margin-right: 90px;
}


.nav_log{
    margin-right:30px;  

}

.content_midal{
background-color: black;
}

.text-eriya{
    margin-top: 90px;

}

 /* .navbar-nav {
    margin-right:80px;
     */
/* }
@media(max-width:1000px){
    .img_logo{
        display:none;
    }  
}  */

